
/* Header content style */
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  color: MediumAquamarine;
}

nav {
  align-items: flex-end;
}

nav span {
  display: inline-block;
  color: black;
}

a {
  color: black;
}
